{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Последние обновления у избранных авторов{% endblock %}
{% block header %}Последние обновления у избранных авторов{% endblock %}
{% block content %}
    {% load cache %}
    {% cache 20 follow_page request.user.username %}
    <div class="container">
        {% include "menu.html" with follow_index=True %}
        {% for post in page %}
            {% include "post_item.html" with post=post %}
        {% endfor %}
    </div>
    {% endcache %}

    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator%}
    {% endif %}

{% endblock %} 